.register-page {
	height: 100vh;
	width: 100vw;
	background-color: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(5px);
	position: fixed;
	top: 0;
}
.register-page .container-form {
	background-color: white;
	width: 435px;
	height: 450px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 5px 8px -4px rgba(0, 0, 0, 0.9);
	border-radius: 10px;
}
.register-page .container-form .register-form__header {
	margin: 10px 15px;
}
.register-page .container-form .register-form__header .title-signup {
	margin-bottom: 5px;
}
.register-page .container-form .register-form__header .register-page__authen-slogan {
	line-height: 10px;
	font-size: 16px;
	color: #68696b;
}
.register-page .container-form .close-btn-img {
	height: 24px;
	width: 24px;
	position: absolute;
	right: 10px;
	top: 12px;
	z-index: 2;
	cursor: pointer;
}
.register-page .container-form .register-hr {
	border-bottom: 2px solid #dadde1;
	margin: 20px 16px;
}
.register-page .container-form .register-page__wrapper-input .register-page__wrapper__name {
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	margin: 10px 15px;
}
.register-page .container-form .register-page__wrapper-input .register-page__wrapper__name .input__firstname {
	background-color: #f5f6f7;
	width: 170px;
	padding: 11px;
	border: 1px solid #c0c0c0;
	margin-right: 10px;
	border-radius: 6px;
	outline: none;
	flex: 1;
}
.register-page .container-form .register-page__wrapper-input .register-page__wrapper__name .input__firstname::placeholder {
	font-size: medium;
	color: #92969e;
	font-size: 15px;
}
.register-page .container-form .register-page__wrapper-input .register-page__wrapper__name .input__surname {
	background-color: #f5f6f7;
	width: 170px;
	flex: 1;
	padding: 11px;
	border: 1px solid #c0c0c0;
	border-radius: 6px;
	outline: none;
}
.register-page .container-form .register-page__wrapper-input .register-page__wrapper__name .input__surname::placeholder {
	font-size: medium;
	color: #92969e;
	font-size: 15px;
}
.register-page .container-form .register-page__wrapper-input .register-page__wrapper__username {
	margin: 10px 15px;
}
.register-page .container-form .register-page__wrapper-input .register-page__wrapper__username .register-input__username {
	background-color: #f5f6f7;
	width: 100%;
	flex: 1;
	padding: 11px;
	border: 1px solid #c0c0c0;
	border-radius: 6px;
	outline: none;
}
.register-page .container-form .register-page__wrapper-input .register-page__wrapper__username .register-input__username::placeholder {
	font-size: medium;
	color: #92969e;
	font-size: 15px;
}
.register-page .container-form .register-page__wrapper-input .register-page__wrapper-password {
	margin: 10px 15px 10px 15px;
	position: relative;
}
.register-page .container-form .register-page__wrapper-input .register-page__wrapper-password .register-input__password {
	background-color: #f5f6f7;
	width: 100%;
	flex: 1;
	padding: 11px;
	border: 1px solid #c0c0c0;
	border-radius: 6px;
	outline: none;
}
.register-page .container-form .register-page__wrapper-input .register-page__wrapper-password .register-input__password::placeholder {
	font-size: medium;
	color: #92969e;
	font-size: 15px;
}
.register-page .container-form .register-page__wrapper-input .register-page__wrapper-password .icon-password--hidden {
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 15px;
	padding: 5px;
}
.register-page .container-form .register-page__wrapper-input .register-page__wrapper-password .icon-password--hidden:hover {
	cursor: pointer;
	background-color: #dddfe2;
	padding: 5px;
	border-radius: 50%;
}
.register-page .container-form .register-page__wrapper-input .register-page__wrapper-date-of-birth {
	margin: 0px 15px;
}
.register-page .container-form .register-page__wrapper-input .register-page__wrapper-date-of-birth .label-container {
	font-size: 12px;
	color: #494949;
}
.register-page .container-form .register-page__wrapper-input .register-page__wrapper-date-of-birth .date-selections {
	display: flex;
}
.register-page .container-form .register-page__wrapper-input .register-page__wrapper-date-of-birth .date-selections .date-selection--months {
	margin: 0px 15px;
}
.register-page .container-form .register-page__wrapper-input .register-page__wrapper-date-of-birth .date-selections .date-selection {
	outline: none;
	flex: 1;
	padding: 8px;
	font-size: 15px;
	background-position: right 5px center;
	border: 1px solid #c0c0c0;
	border-radius: 4px;
}
.register-page .container-form .register-page__wrapper-input .register-page__wrapper-gender {
	margin: 0px 15px;
}
.register-page .container-form .register-page__wrapper-input .register-page__wrapper-gender .label-container {
	font-size: 12px;
	color: #494949;
}
.register-page .container-form .register-page__wrapper-input .register-page__wrapper-gender .gender-selections {
	cursor: pointer;
	display: flex;
}
.register-page .container-form .register-page__wrapper-input .register-page__wrapper-gender .gender-selections .gender-label {
	cursor: pointer;
}
.register-page .container-form .register-page__wrapper-input .register-page__wrapper-gender .gender-selections .gender-selection--male {
	margin: 0px 15px;
}
.register-page .container-form .register-page__wrapper-input .register-page__wrapper-gender .gender-selections .gender-selection {
	outline: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1;
	padding: 6px;
	font-size: 15px;
	border: 1px solid #c0c0c0;
	border-radius: 4px;
}
.register-page .container-form .error-message {
	color: red;
	font-size: small;
	font-weight: bold;
}
.register-page .container-form .bottom-register-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0em 1em;
}
.register-page .container-form .bottom-register-container .button-register {
	background: none;
	width: 200px;
	margin-top: 2em;
	padding: 6px 50px;
	font-size: 18px;
	font-weight: bold;
	color: white;
	background-color: #00a400;
	border-radius: 6px;
	border: none;
	cursor: pointer;
}
.register-page .container-form .bottom-register-container .button-register:hover {
	background-color: #6ca05f;
}
